.button-1 a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	border-radius: 60px;
	background-color: black;
	transition: background-color 0.5s;
	transition-timing-function: ease;
	padding: 12px 30px;
}

.button-3 a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	border-radius: 60px;
	background-color: black;
	transition: background-color 0.5s;
	transition-timing-function: ease;
	padding: 12px 30px;
}

.button-4 a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	border-radius: 60px;
	background-color: black;
	transition: background-color 0.5s;
	transition-timing-function: ease;
	padding: 12px 30px;
}

.button-5 a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	border-radius: 60px;
	background-color: black;
	transition: background-color 0.5s;
	transition-timing-function: ease;
	padding: 12px 30px;
}

.button-1 a:hover {
	background-color: #fff8c2;
	color: black;
}

.button-3 a:hover {
	background-color: #fff8c2;
	color: black;
}

.button-4 a:hover {
	background-color: #fff8c2;
	color: black;
}

.button-5 a:hover {
	background-color: #fff8c2;
	color: black;
}
li {
	text-decoration: none;
}

.button-2 a {
	text-decoration: none;
	color: white;
	font-size: 10px;
	border-radius: 30px;
	background-color: black;
	transition: background-color 0.5s;
	transition-timing-function: ease;
	padding: 12px 20px;
}

.button-2 a:hover {
	background-color: #fff8c2;
	color: black;
}
