body {
	font-family: "Outfit", sans-serif;
	background-color: #e4f7f7;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 300px;
	margin: 50px auto;
	padding: 30px;
	background-color: #fff;
	border-radius: 30px;
}

.title-contact h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 100px;
}

label {
	display: block;
	margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	width: auto;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	font-family: "outfit", sans-serif;
	font-weight: bold;
	display: block;
	width: 150px;
	height: 40px;
	padding: 10px;
	margin-top: 20px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}

button:hover {
	background-color: #fff8c2;
}
@media screen and (min-width: 768px) {
	.container {
		max-width: 800px;
	}
	.button-2 {
		display: flex;
	}
}
