.background > div[class^="image"] {
	transition: transform 0.2s ease-out;
}

.imagebubblecontact1 {
	position: absolute;
	scale: 10%;
	left: -800px;
	top: -560px;
	z-index: 10;
}

.line1contact {
	position: absolute;
	z-index: 8;
	left: 155px;
	top: 150px;
	width: 250px;
	height: 1px;
	background-color: grey;
	transform: rotateZ(18deg);
	transform-origin: top left;
}

.imagebubblecontact2 {
	position: absolute;
	scale: 10%;
	left: -550px;
	top: -480px;
	z-index: 10;
}

.line2contact {
	position: absolute;
	z-index: -8;
	left: 415px;
	top: 235px;
	width: 920px;
	height: 1px;
	background-color: grey;
	transform: rotateZ(18deg);
	transform-origin: top left;
}

.imagebubblecontact3 {
	position: absolute;
	scale: 10%;
	left: 330px;
	top: -190px;
	z-index: 10;
}

.line3contact {
	position: absolute;
	z-index: -8;
	left: 1290px;
	top: 520px;
	width: 480px;
	height: 1px;
	background-color: grey;
	transform: rotateZ(135deg);
	transform-origin: top left;
}

.imagebubblecontact4 {
	position: absolute;
	scale: 10%;
	left: 12px;
	top: 140px;
	z-index: 10;
}

.line4contact {
	position: absolute;
	z-index: -8;
	left: 960px;
	top: 850px;
	width: 150px;
	height: 1px;
	background-color: grey;
	transform: rotateZ(135deg);
	transform-origin: top left;
}

body {
	font-family: "Outfit", sans-serif;
	background-color: #e4f7f7;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 300px;
	margin: 50px auto;
	padding: 30px;
	background-color: #fff;
	border-radius: 30px;
}

.title-contact h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 100px;
}

label {
	display: block;
	margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	width: 100%;
	margin-top: 5px;
	padding: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(204, 204, 204);
	border-image: initial;
	border-radius: 5px;
}

button {
	font-size: 20px;
	font-family: "outfit", sans-serif;
	font-weight: bold;
	display: block;
	padding: 15px 30px;
	margin-top: 20px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}

button:hover {
	background-color: #fff8c2;
	color: black;
}

@media screen and (max-width: 480px) {
	.background {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	textarea {
		width: 750px;
		margin-top: 5px;
		padding: 10px;
		border-width: 1px;
		border-style: solid;
		border-color: rgb(204, 204, 204);
		border-image: initial;
		border-radius: 5px;
	}
	.container {
		max-width: 800px;
	}
	.button-2 {
		display: flex;
	}
}
