.map img {
	margin-top: 30px;
	width: 100%;
}

.education {
	margin-top: 50px;
}

.button-5 {
	padding-top: 50px;
}

.dropdown.desktop-hide {
	display: none;
}

.button-all-school {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* Centreer de knoppen */
	list-style-type: none;
	padding: 0;
}

.button-all-school ul {
	display: flex; /* Flexbox toevoegen voor horizontale uitlijning */
	flex-wrap: wrap; /* Zorg ervoor dat knoppen naar de volgende regel gaan indien nodig */
	justify-content: center; /* Centreer de knoppen binnen de ul */
	margin: 10px 0; /* Ruimte tussen de rijen */
	padding: 0 10px;
	list-style: none;
}

.button-all-school ul li {
	margin: 10px; /* Ruimte tussen de knoppen */
}

.button-all-school ul li a {
	display: inline-block; /* Inline-block voor kortere knoppen */
	text-decoration: none;
	color: white;
	font-size: 16px;
	border-radius: 20px;
	background-color: black;
	transition: background-color 0.5s ease;
	padding: 12px 15px; /* Aangepaste padding voor kortere knoppen */
	font-weight: bold;
}

.button-all-school ul li a:hover {
	color: black;

	background-color: #fff8c2;
}

/* Media query voor kleine schermen (max-width: 768px) */
@media (max-width: 768px) {
	.dropdown.desktop-hide {
		display: block; /* Toon de dropdown op kleine schermen */
	}

	.button-all-school {
		display: none; /* Verberg button-all-school op kleine schermen */
	}
	body {
		background-image: url(images/educatie-mobile-background.png);
	}
}

/* Media query voor grote schermen (min-width: 769px) */
@media (min-width: 769px) {
	.button-all-school {
		display: block; /* Toon button-all-school op grote schermen */
	}

	.map img {
		width: 60%; /* Pas de breedte van de afbeelding aan voor desktop */
		margin: 0 auto; /* Centreer de afbeelding horizontaal */
		display: block; /* Zorg ervoor dat de afbeelding als blokelement wordt weergegeven */
	}
}
