.map img {
	padding-top: 80px;
	width: 100%;
}

.education {
	margin-top: 20px;
}

.button-5 {
	padding-top: 20px;
}

.dropdown.desktop-hide {
	display: none;
}

.button-all-school {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; 
	list-style-type: none;
	padding: 0;
}

.button-all-school ul {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: center; 
	margin: 10px 0; 
	padding: 0 10px;
	list-style: none;
}

.button-all-school ul li {
	margin: 10px; 
}

.button-all-school ul li a {
	display: inline-block; 
	text-decoration: none;
	color: white;
	font-size: 16px;
	border-radius: 20px;
	background-color: black;
	transition: background-color 0.5s ease;
	padding: 12px 15px; 
	font-weight: bold;
}

.button-all-school ul li a:hover {
	color: black;

	background-color: #fff8c2;
}

@media (max-width: 768px) {
	.dropdown.desktop-hide {
		display: block; 
	}

	.button-all-school {
		display: none; 
	}

	.map {
		display: none; 
	}

	.background {
		display: none;
	}

	.map-mobile {
		display: block;
	}

	.map-mobile img {
		padding-top: 50px;
		width: 100%;
	}
}


@media (min-width: 769px) {
	.button-all-school {
		display: block; 
	}

	.map img {
		width: 60%; 
		margin: 0 auto; 
		display: block; 
	}

	.map-mobile {
		display: none; 
	}
}

.line-a {
	position: absolute;
	z-index: 8;
	left: 460px;
	top: 610px;
	width: 90px;
	height: 1px;
	background-color: grey;
	transform: rotateZ(-40deg);
	transform-origin: top left;
}

.image-a {
	position: absolute;
	scale: 10%;
	left: -500px;
	top: -85px;
	z-index: 10;
}

.image-b {
	position: absolute;
	scale: 8%;
	left: -290px;
	top: -110px;
	z-index: 10;
}

.image-c {
	position: absolute;
	scale: 5%;
	left: -420px;
	top: -150px;
	z-index: 10;
}

.image-d {
	position: absolute;
	scale: 5%;
	left: -130px;
	top: -180px;
	z-index: 10;
}

.image-e {
	position: absolute;
	scale: 5%;
	left: -80px;
	top: -170px;
	z-index: 10;
}

.image-f {
	position: absolute;
	scale: 3%;
	left: -100px;
	top: -140px;
	z-index: 10;
}

.image-g {
	position: absolute;
	scale: 2%;
	left: -155px;
	top: -35px;
	z-index: 10;
}

.image-h {
	position: absolute;
	scale: 2.8%;
	left: -155px;
	top: -20px;
	z-index: 10;
}

.image-i {
	position: absolute;
	scale: 10%;
	left: 80px;
	top: -130px;
	z-index: 10;
}

.image-j {
	position: absolute;
	scale: 6%;
	left: 50px;
	top: -70px;
	z-index: 10;
}

.image-k {
	position: absolute;
	scale: 5%;
	left: -240px;
	top: -100px;
	z-index: 10;
}

@keyframes pulsate {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(var(--scale-factor, 1.1)); /* Gebruik een variabele schaalfactor */
	}
	100% {
		transform: scale(1);
	}
}

.image-a img,
.image-b img,
.image-c img,
.image-d img,
.image-e img,
.image-f img,
.image-g img,
.image-h img,
.image-i img,
.image-j img,
.image-k img {
	animation: pulsate var(--animation-duration, 3s) ease-in-out infinite;
}

.line-b {
	position: absolute;
	z-index: 8;
	left: 460px;
	top: 630px;
	width: 200px;
	height: 1px;
	background-color: grey;
	transform: rotateZ(-8deg);
	transform-origin: top left;
}

.line-c {
	position: absolute;
	z-index: 8;
	left: 530px;
	top: 560px;
	width: 150px;
	height: 1px;
	background-color: grey;
	transform: rotateZ(12deg);
	transform-origin: top left;
}

.line-d {
	position: absolute;
	z-index: 8;
	left: 650px;
	top: 600px;
	width: 50px;
	height: 1px;
	background-color: grey;
	transform: rotateZ(12deg);
	transform-origin: top left;
}

.line-e {
	position: absolute;
	z-index: 8;
	left: 710px;
	top: 610px;
	width: 100px;
	height: 1px;
	background-color: grey;
	transform: rotateZ(38deg);
	transform-origin: top left;
}

.line-f {
	position: absolute;
	z-index: 8;
	left: 720px;
	top: 610px;
	width: 140px;
	height: 1px;
	background-color: grey;
	transform: rotateZ(-40deg);
	transform-origin: top left;
}

.line-g {
	position: absolute;
	z-index: 8;
	left: 820px;
	top: 530px;
	width: 50px;
	height: 1px;
	background-color: grey;
	transform: rotateZ(15deg);
	transform-origin: top left;
}

.line-h {
	position: absolute;
	z-index: 8;
	left: 820px;
	top: 530px;
	width: 230px;
	height: 1px;
	background-color: grey;
	transform: rotateZ(15deg);
	transform-origin: top left;
}

.line-i {
	position: absolute;
	z-index: 8;
	left: 1040px;
	top: 590px;
	width: 70px;
	height: 1px;
	background-color: grey;
	transform: rotateZ(130deg);
	transform-origin: top left;
}

.line-j {
	position: absolute;
	z-index: 8;
	left: 1000px;
	top: 650px;
	width: 210px;
	height: 1px;
	background-color: grey;
	transform: rotateZ(170deg);
	transform-origin: top left;
}

.line-k {
	position: absolute;
	z-index: 8;
	left: 790px;
	top: 680px;
	width: 150px;
	height: 1px;
	background-color: grey;
	transform: rotateZ(-63deg);
	transform-origin: top left;
}
