body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "outfit", sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	position: relative;
	width: 1200px;
}
