.footer {
	background-color: white;
	text-align: center;
}

.footer a {
	font-size: 15px;
    text-decoration: none;

}

.footer li {
	text-decoration: none;
}

.footer .class {
	font-size: 20px;
}

.footer img {
	padding-top: 20px;
	width: 25%;
}
