.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 75px;
	border: black 1px solid;
	border-radius: 30px;
}

.search-container svg {
	background-color: white;
	padding: 10px;
	border-bottom-right-radius: 30px;
	border-top-right-radius: 30px;
}

.search-bar {
	width: 500px;
	padding: 10px;
	border: none;
	font-size: 16px;
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;
	align-items: center;
	outline: none;
}

.wrapperForum {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
}

.forum {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.forum {
	padding-top: 100px;
}

.forum h4,
.buttons-topics h4 {
	color: #246cc0;
	font-size: 50px;
	font-family: "Outfit", sans-serif;
	font-weight: bold;
}

.buttons-topics {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	margin: 100px 90px 30px;
}

.left-buttons select {
	padding: 5px 8px;
	border-radius: 20px;
	outline: none;
	margin-top: 40px;
}

.left-button {
	padding-bottom: 50px;
}

.onderwerp,
.topic1,
.topic2,
.topic3 {
	display: flex;
	justify-content: space-between;
	gap: 25px;
}

.onderwerp {
	margin: 15px 0;
}

.topics {
	padding-bottom: 20px;
	background-color: white;
	padding: 35px;
	border-radius: 30px;
	margin-top: 15px;
	padding-right: 50px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.topic1 a,
.topic2 a,
.topic3 a {
	text-decoration: none;
	color: #246cc0;
}
.topic1 p,
.topic2 p,
.topic3 p {
	color: #246cc0;
	text-decoration: none;
}

.left-image-user img {
	width: 80px;
	height: 80px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 25px;
}

.posts {
	display: flex;
	flex-direction: column;
	margin: 0 90px;
}

.post {
	display: flex;
	align-items: center;
	width: 600px;
	background-color: white;
	border-radius: 30px;
	padding: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.post a {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.right-info {
	display: flex;
	flex-direction: column;
}

.addcomment a {
	text-decoration: none;
}

.addcomment p {
	display: flex;
	align-items: center;
	background-color: white;
	border-radius: 30px;
	padding: 12px;
	width: 200px;
	color: black;
}

.addcomment {
	padding-top: 10px;
	padding-bottom: 50px;
}

.date-comments {
	display: flex;
	gap: 20px;
	align-items: center;
	margin-top: 10px;
}

.date {
	display: flex;
	align-items: center;
	gap: 10px;
}

.date p {
	font-size: 12px;
}

.comment {
	font-size: 12px;
}

.right-info h3 {
	font-size: 20px;
	font-weight: bold;
}

.tipstricks {
	text-align: center;
}

.tips-container {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.tip {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 300px;
}

.tipstricks h4 {
	color: #246cc0;
	font-size: 50px;
	font-family: "Outfit", sans-serif;
	font-weight: bold;
	margin: 100px 0px 45px;
}

.imgtips img {
	width: 280px;
	height: 280px;
	object-fit: cover;
	border-radius: 19%;
	margin-bottom: 10px;
}

.tipstext {
	width: 100%;
	text-align: left;
}

.button-2 a {
	width: 100%;
	text-align: left;
}

.tipstext h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.tips-container2 {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 50px;
}

.tipstext p {
	margin-bottom: 25px;
}
footer {
	padding-top: 90px;
}

@media screen and (max-width: 768px) {
	.buttons-topics {
		flex-direction: column-reverse;
		align-items: center;
		margin: 50px 0;
	}
	.post {
		display: flex;
		align-items: center;
		width: 300px;
		background-color: white;
		border-radius: 30px;
		padding: 12px;
		margin: 45px 0px 15px;
		/* margin-bottom: 50px; */
	}

	.posts {
		display: flex;
		flex-direction: column;
		margin: 0px;
		align-items: center;
	}

	h1 {
		color: #246cc0;
		font-size: 45px;
		font-family: "Outfit", sans-serif;
		font-weight: bold;
	}
	.topic1 p,
	.topic2 p,
	.topic3 p {
		color: #246cc0;
		text-decoration: none;
	}
}
