@media screen and (max-width: 768px) {
	h1 {
		color: #246cc0;
		font-size: 45px;
		font-family: "Outfit", sans-serif;
		font-weight: bold;
	}

	h2 {
		color: black;
		font-size: 18px;
		font-family: "Outfit", sans-serif;
		font-weight: bold;
	}

	p {
		font-size: 20px;
		color: black;
		font-family: "Outfit", sans-serif;
	}

	a {
		color: black;
		font-size: 35px;
		font-family: "Outfit", sans-serif;
		font-weight: bold;
	}

	h3 {
		color: black;
		font-size: 15px;
		font-family: "Outfit", sans-serif;
		font-weight: bold;
	}
}
