h1 {
	color: #246cc0;
	font-size: 45px;
	font-family: "outfit", bold;
}

h2 {
	color: black;
	font-size: 35px;
	font-family: "outfit", bold;
}

p {
	font-size: 20px;
	color: black;
	font-family: "outfit";
}

a {
	color: black;
	font-size: 35px;
	font-family: "outfit", bold;
}

.wrapper.title-text p {
	padding-top: 50px;
}
