h1 {
	padding-top: 50px;
	padding-bottom: 20px;
}

.box-box img {
	width: 100%;
	border-radius: 15px;
}

.box-in-two h2 {
	font-size: 25px;
	color: #246cc0;
	font-family: "Outfit", sans-serif;
	font-weight: bold;
}

.tips-tricks {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.box-box,
.box-in-two {
	flex: 1;
	margin: 10px;
}

.box-box {
	margin-right: 20px;
}

.box-in-two {
	padding-left: 20px;
}

.btn-tips {
	padding-top: 50px;
}
.btn-tips a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	border-radius: 60px;
	background-color: black;
	transition: background-color 0.5s;
	transition-timing-function: ease;
	padding: 12px 30px;
	font-weight: bold;
}

.btn-tips a:hover {
	background-color: #fff8c2;
	color: black;
}

@media screen and (max-width: 768px) {
	.tips-tricks {
		display: block;
	}

	.box-in-two h2 {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.box-box,
	.box-in-two {
		flex: none;
		margin: 10px 0;
		padding: 0;
	}

	.btn-tips {
		padding-top: 50px;
	}
}
