nav {
	margin-top: 25px;
}
.topnav {
	width: calc(100% - 20px);
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 40px;
	font-size: 18px;
}

.topnav ul {
	padding-right: -5px;
}

.topnav li {
	display: inline;
	margin-left: 38px;
}

.topnav a {
	padding: 3px 0;
	color: black;
	text-decoration: none;
	display: inline-block;
	background-image: linear-gradient(black, black);
	background-size: 0% 3px;
	background-repeat: no-repeat;
	transition: background-size 0.3s;
	margin: 1px 0;
	background-position: 0 100%;
}

a:hover {
	background-size: 100% 3px;
}

.navigationlogo img {
	max-height: 40px;
	width: auto;
}
